name: Node Check

on:
  push:
    branches: [main, v*]
  pull_request:
    branches: [main, v*]

jobs:
  node-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Install tool versions from .mise.toml
        run: mise install
      - name: Install dependencies
        run: npm ci
      - name: Run ESLint
        run: npm run lint

  node-format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup mise
        uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3.5.1
      - name: Install tool versions from .mise.toml
        run: mise install
      - name: Install dependencies
        run: npm ci
      - name: Check formatting
        run: npm run format:check
